@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  font-family: 'Poppins', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

/* Css Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=================================
  header styling starts here
=================================*/
header {
  padding: 20px 0;
  background-color: #00d2d3;
}

.header__heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  text-transform: uppercase;
}
/*=================================
  header styling ends here
=================================*/

/*=================================
  signup styling starts here
=================================*/
.registration,
.login {
  background-color: #718093;
  padding: 20px 0;
}

.login__heading,
.registration__heading {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

form { width: 100%; }

input[type="text"] {
  width: 100%;
  padding: 4px 10px;
  outline: none;
  margin: 6px 0;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.error {
  display: block;
  color: red;
  font-size: 14px;
  letter-spacing: 1px;
}

::placeholder { font-size: 15px; }

.submit {
  display: block;
  padding: 8px 14px;
  outline: none;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  margin: 13px 0px;
  background-color: #000;
  color: #00d2d3;
  font-weight: 500;
  border-radius: 4px;
  transition: .3s;
}

.submit:hover {
  background-color: #00d2d3;
  color: #000;
}

.create__account {
  color: #000;
  font-weight: 500;
}

.create__account:hover {
  color: #fff;
}
/*=================================
  signup styling ends here
=================================*/